{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/navbar-top-fixed.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- jQuery -->
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.14.1.custom/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.14.1.custom/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.14.1.custom/jquery-ui.theme.min.css' %}">

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.14.1.custom/jquery-ui.min.js' %}"></script>

    <style>
      .success {
        list-style: none;
        background-color: #2e6da4;
        color: white;
        box-shadow: 12px 12px 12px #e61c66;
        text-align: center;
      }
      
      .mybutton {
        width: 100%;
      }
    </style>
  </head>

  <body>
    {% include 'navbar.html' %}
    <main role="main" class="container">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="jumbotron">
        <div class="header">{{header}}</div>
        <div class="row">
          <div class="col-sm-2">
            <form action="{% url 'list_items' %}" method="post">
              {% csrf_token %}
              {{form|crispy}}
              <input type="submit" class="btn btn-primary mybutton" value="Search">
            </form>
            <br><br>
            <a href="{% url 'add_items' %}"><div class="btn btn-primary mybutton">Add Items</div></a><br><br>
            <a href="{% url 'list_history' %}"><div class="btn btn-primary mybutton">List History</div></a><br>
          </div>
          <br>
          <div class="col-sm-10">
            <div class="display_table">
              <table class="table">
                <thead>
                  <tr>
                    <!-- <th>COUNT</th> -->
                    <th>CATEGORY</th>
                    <th>ITEM NAME</th>
                    <th>QUANTITY IN STORE</th>
                    <th>REORDER LEVEL</th>
                    <!-- <th>TIMESTAMP</th> -->
                    <th>LAST UPDATED</th>
                    <th>DELETE</th>
                  </tr>
                </thead>
              {% for item in queryset %}
                <tr>
                  <!-- <td>{{forloop.counter}}</td> -->
                  <td>{{item.category}}</td>
                  <td><a href="{% url 'update_items' item.id %}">{{item.item_name}}</a></td>
                  <td>
                    {% if item.quantity <= item.reorder_level %}
                      <div style='background-color: orange;'>
                        <a href="{% url 'stock_detail' item.id %}">{{item.quantity}}</a>
                      </div>
                    {% else %}
                      <a href="{% url 'stock_detail' item.id %}">{{item.quantity}}</a>
                    {% endif %}
                  </td>
                  <td><a href="{% url 'reorder_level' item.id %}">{{item.reorder_level}}</a></td>
                  <!-- <td>{{item.timestamp}}</td> -->
                  <td>{{item.last_updated}}</td>
                  <td><a href="{% url 'delete_items' item.id %}"><i class="bi bi-trash-fill h6" style="color: red;"></i></a></td>
                </tr>
              {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>